.createbtn{
    border: none;
    background-color: #9D0E0F;
    color: white;
    width: 50%;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nameinput{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    
}

.form-group{
    width: 70%;
}


.form-groups{
    width:48%;
    
}
.gbtn{
    background-color: #8DC1F2;
color: white;
border: none;
height: 3rem;
font-weight: bold;
border-radius: 5rem;
}

.form-check-label{
    width: 60%;
}

.form-check{
    display: flex;
    justify-content: center;
    gap: .5rem;
    
}