*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 2;
}

header {
    width:100%;
    color: white;
    display: flex;
    padding: 10px;
}

.lefthead{
    width: 50%;
}
.righthead{
    width: 18%;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
}

.signupbtn{
    border: none;
    background-color: rgb(139, 4, 4);
    color: rgb(255, 255, 255);
    height: 2rem;
    width: 40%;
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 14px;
}

.loginbtn{
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
}

.centerhead{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerhead input{
    border: none;
    background-color: rgb(227, 226, 226);

    border-radius: 5rem;
    width: 70%;
}

.centerhead {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5rem;
    background-color: rgb(227, 226, 226);
    padding: 5px 10px;
    width: 300px; outline: none;
    padding: 5px 10px;
    flex-grow: 1;
  }

  
  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dropdown-text {
    margin-right: 5px;
    color: #000; /* Adjust color as needed */
  }
  
  .dropdown-icon {
    font-size: 12px; /* Adjust size as needed */
    color: #000; /* Adjust color as needed */
  }


main{
    width:100%;
    padding: 20px;
    display: flex;
    height: 80vh;
}

.leftmain{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.rightmain{
    width: 50%;
}


.leftmaincontent{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.leftmaincontenttop{
    width: 100%;
    flex: 1;
    padding: 5px;
    color: white;
}

.leftmaincontenttop h1 {
    color: black;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 3.5rem;
}

.leftmaincontentmid{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;    

}

.leftmaincontentmid h6{
    line-height: 25px;
    width: 80%;
}
.leftmaincontentbottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.leftmaincontentbottom button{
    border: none;
    background-color: rgb(139, 4, 4);
    color: rgb(255, 255, 255);
    height: 2.5rem;
    width: 100%;
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 14px;
}
