/* Login.css */

.Login {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/loginbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logincontent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.Login-container {
    height: 85vh;
    text-align: center;
    width: 540px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.Login-container .googlelogincontainer{
  width: 50%;
  margin: 0 auto;
}


.Login-container h5 {
    margin-bottom: 40px;
    color: #333; /* Title color */
    font-weight: bold;
}

.google-login-button{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.google-login-button button {
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }
  
  .google-login-button button:hover {
    background-color: #357ae8;
  }
  

.separator {
    margin: 15px 0;
    color: #aaa; /* Light gray for the separator */
}


.chooserolecontainer{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 30px ;
 padding: 0 120px;

}

.chosenrole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.chooserolecontainer img{
    
    width: 25%;
}

.form-group {
    margin-bottom: 15px; /* Space between form groups */
}

label {
    display: flex;
    margin-bottom: 5px; /* Space below the label */
    font-size: 12px; /* Smaller font size for labels */
    color: #555; /* Darker color for labels */
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    font-size:12px; /* Font size for inputs */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none; /* Remove outline */
}

.login-button {
    width: 20%; /* Full width button */
    padding: 10px;
    background-color: #9D0E0F; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Font size for button */
    cursor: pointer; /* Pointer cursor on hover */
}

.login-button:hover {
    background-color: #cf3838; /* Darker blue on hover */
}

.message {
    margin-top: 10px; /* Space above the message */
    color: #ff0000; /* Red color for error messages */
}

.signup-prompt {
    font-size: 12px;
    margin-top: 20px; /* Space above the prompt */
}
.forgot-password-link{
   color: #007bff;

}
.forgot-password-link:hover{
    cursor: pointer;
   color: #007bff;
    text-decoration: underline;
}

.signup-link {
    color: #007bff; 
    cursor: pointer; /* Pointer cursor for link */
}

.signup-link:hover{
    text-decoration: underline;
}


