.ResetPassword {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/loadersbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.ResetPassword h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Dark text for the heading */
}

.Reset_container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    width: 400px; /* Set a fixed width for the container */
    text-align: center;
}

.confirmpass{
    margin-top: 10px;

}

.resetbtn {
    background-color: #9D0E0F; /* Red background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    cursor: pointer;
    width: 40%; /* Make the button full-width */
}

.resetbtn:hover {
    background-color: #7a0c0d; /* Darker red on hover */
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
