.loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/loadersbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Adjust to your layout needs */
    z-index: 9999; /* High z-index value to place it on top */
    position: fixed; /* Fix the position to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner {
    display: flex;
    flex-direction: row; /* Keep the images in a row */
    justify-content: center; /* Center the images in the spinner */
    align-items: center; /* Align items vertically in the center */
}

.logoiconloaders {
    width: 100px; /* Fixed width for the main logo */
    height: auto; /* Maintain aspect ratio */
    animation: spin 2s infinite linear; /* Apply spinning animation */
}

.logoicon2loaders {
    width: 300px; /* Fixed width for the second logo */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add left margin to create gap */
    display: block; /* Ensure it takes full width available */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loading text styles */
.loading-text {
    margin-top: 20px; /* Space between the spinner and text */
    font-size: 12px; /* Adjust font size as needed */
    color: whitesmoke; /* Adjust text color */
    animation: fadeInUp 1.5s infinite; /* Apply fadeInUp animation */
}

/* Animation for loading text */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px); /* Start slightly lower */
    }
    50% {
        opacity: 1; /* Full opacity */
        transform: translateY(0); /* Move to original position */
    }
    100% {
        opacity: 0; /* Fade out */
        transform: translateY(-10px); /* Move slightly up */
    }
}

.system-name {
    font-size: 24px; /* Adjust font size for system name */
    color: #9D0E0F; /* Match the system's theme color */
}
