
/* Navbar styling */
.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: black;
  }
  
  .navbar .lefticon{
    text-decoration: none;
    display: flex;
    padding-left: 15px;
  }
  
  .logo {
    width: 20%; /* Adjust the percentage as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .studempheader-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    position: relative;
  }
  
  .studempheader-links a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
    position: relative;
  }
  
  .studempheader-links a::after {
    content: ''; /* Required for the pseudo-element */
    display: block;
    height: 2px; /* Height of the underline */
    background-color: #9D0E0F; /* Underline color */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Adjust this to position the underline */
    transform: scaleX(0); /* Start scaled down */
    transition: transform 0.3s ease; /* Animation for the scaling */
  }
  
  .studempheader-links a:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
  }
  
  .studempheader-buttons {
    display: flex;
  }
  
  .studempheader-buttons .login-btn{
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
 
  .studempheader-buttons .signup-btn {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  
  .login-btn {
    background-color: transparent;
    color: black;
    position: relative; /* For the pseudo-element positioning */
    text-decoration: none;
  }
  
  .studempheader-buttons .login-btn::after {
    content: ''; /* Required for the pseudo-element */
    display: block;
    height: 2px; /* Height of the underline */
    background-color: #984a4a; /* Underline color */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Adjust this to position the underline */
    transform: scaleX(0); /* Start scaled down */
    transition: transform 0.3s ease; /* Animation for the scaling */
  }
  
  .studempheader-buttons .login-btn:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
  }
  
  .studempheader-buttons .signup-btn {
    background-color: #9D0E0F;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  .studempheader-buttons .signup-btn:hover{
    background-color: rgb(171, 31, 31);
    color: white;
  }
  