
  
.StudentHomepage-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F4F2EE;
  }
  
  
  .content-container {
    display: flex;
    margin-top: 60px; /* height of the header */
  }
  
  .sidebar {
    width: 500px;
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: #F4F2EE;
    padding: 40px 30px 30px 30px;
    gap: 20px;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;

  }
  .profile, .complete-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-color:white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile{
    padding: 30px 60px;
    align-items: start;

}



.profile h2{
    padding: 10px 0 0 0;
    font-size: 18px;
    font-weight: 600;
  
}

.profile p{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    opacity: 0.5;
  
}

    .profile img{
        width: 60px;
    }


.complete-section {
    padding: 20px;
}

.complete-section h4{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}
.add-btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-btn-container button{
    background: none;
    width: 180px;
    border-width: 0.5px;
    opacity: 0.5;
    padding: 3px;
}

  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    padding: 50px 20px;
    background-color: #F4F2EE;
    width: calc(100% - 250px);
    overflow-y: auto;
  }
  
  .post-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    padding: 10px;
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 15px;
  }

  .post-input img{
    width: 50px;
    display: flex;
}

  .subpost-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subpost-input img{
    width: 20px;
    display: flex;
}


.subpost-input input{
    width:600px;
    height: 30px;
    border-width: 0.5px;
    padding: 5px;
    border-radius: 20px;
  
}

.subpost-input input::placeholder{
    padding-left: 10px;
}

.subpost-input button{
    width:100px;
    height: 30px;
    padding: 5px;
    display: flex;
    border: none;
    background: none;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
}
  
  .toppostcontent {
    align-items: left;
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 20px 10px 10px 10px;
  }

  .toppostcontent img{
    width: 50px;
    height: 50px;
  }

  .frompost{
   line-height: 5px;
  }
  .frompost p {
    opacity: 0.7;
  }
  
  .post {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 80%;
    height: auto;
    border-radius: 15px;
  }
  
  
  .postcontent {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align children to the start (left) */
    width: 100%;
  }
  
  .postcontent p {
    margin: 0 0 10px 0; /* Add some margin if needed */
  }
  
  .postimagecontent {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
}

.postimagecontent img {
    border-radius: 10px;
    max-width: 100%; /* Ensure the image takes the maximum width of the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .downpostcontent {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start; /* Align children to the start (left) */
    width: 100%;
    margin-left: 30px;
}

.downpostcontent button {
    border: none;
    background: none;
    padding: 5px 10px;
    font-size: 10px;
}

.downpostcontent button img{
    width: 20px;
    height: 20px;
}
