/* Modal Overlay */
.GMmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

/* Modal Content */
.GMmodal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Adjust width as necessary */
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative; /* Set position relative for absolute positioning */
}

.GMmodal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Set position relative for absolute positioning */
}

/* Close Button */
.GMmodal-header .GM-close-btn {
    position: absolute; /* Position it absolutely within the header */
    top: -5px; /* Align to the top */
    right: 0; /* Align to the right */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font size if needed */
}

/* Header */
.GMmodal-content h6 {
    margin: 0 0 15px 0;
    font-size: 16px;
    padding-right: 30px; /* Add space for the close button */
}

/* Input Field */
.GM-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Modal Actions */
.modal-actions {
    display: flex;
    justify-content: space-between; /* Space between buttons */
}

/* Save Button */
.GM-save-btn {
    background-color: #9D0E0F; /* Color */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.GM-save-btn:hover {
    background-color: #b30e10; /* Darker on hover */
}
