.projprev-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .projprev-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    height: 80vh;
    overflow: auto;
    text-align: center;
    position: relative;
    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}

  .projprev-content::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
  }


  .projprevheader {
    display: flex;
    
  }
  
  .project-image {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
.projprev-btn{
    margin-top: 50px;    
}
  
.close-btn,
.delete-btn {
  position: absolute; /* Positioning relative to the parent container */
  bottom: 10px; /* Distance from the bottom of the parent container */
  right: 10px; /* Distance from the right of the parent container */
}

.close-btn {
  background-color: #9D0E0F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}

.delete-btn {
  background-color: #9D0E0F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  margin-right: 90px;
}
  
  .close-btn:hover {
    background-color: darkred;
  }
  
  .modal-content {
    /* Existing modal styling */
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
  }
  
