* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    
  }
  
  body {
    font-size: 12px; /* Set base font size */
    line-height: 1.6; /* Improve readability with line-height */
    background-color: white;
    
  }

  .studentlandpage{
    text-align: center;
    color: #333;
    height: 200vh;
  }

  .maincontent{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    height: 100vh;
  }
